.container{
    background: linear-gradient(to bottom right, #101010, #212121);
    background: linear-gradient(to bottom right, #1F363D, var(--background));
    border-radius: 1rem;
    padding: 1rem;
    border-right: 1px solid #ffffff33;
    border-bottom: 1px solid #ffffff33;
    /* box-shadow: -5px -5px 10px #ffffff11; */
}