.container {
  border-bottom: 1px solid #ffffff55;
  width: min(95%, 50rem);
  height: fit-content;
  margin-inline: auto;
  margin-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  border-radius: 0.5rem;
  /* background: linear-gradient(to right, #1f363d, var(--background), #1f363d); */
  background: linear-gradient(to bottom right, #1F363D, var(--background));
  border: 1px solid #ffffff33;
}

.imageContainer {
  width: 100%;
  position: relative;
}

.image {
  padding: 0.25rem;
  width: auto;
  height: 100%;
  object-fit: contain;
}
