.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 90rem; */
  overflow-x: hidden;
  background-color: var(--foreground);
  z-index: -1;
  height: 100%;
}

.titleLogo {
  font-size: clamp(1rem, 4vw, 2rem);
  color: var(--background);
}

/* .navContainer {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .label{
    margin-inline: 1rem;
    color: blue;
  }
  & input{
    appearance: none;
  }
  & > input:checked + label{
    color: red;
  }
} */


.navContainer{
  justify-content: center;
  align-items: center;
  & input{
    appearance: none;
  }
}

.label{
  color: slategray;
  margin-inline: 1rem;
  cursor: pointer;
  transition: all .35s ease-in-out;
  &:hover{
    color: var(--background);
  }
}

.label:has(+ :checked){
  color: var(--background);
}