@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #012a38;
  --foregroundgray: #012a38cc;
  --cardWidth: min(90%, 25rem);
  --orange: #ee6c4d;
  --gray: #c0c0c0;
  --grayDark: #7D8597;

  /* --blueLight: #0466C8; */
  --blueLight: #4281A4;

  --fontRose: "Red Rose";
  --fontw900: 900;
  --fontw800: 800;
  --fontw700: 700;
  --fontw600: 600;
  --fontw500: 500;
  --fontw400: 400;
  --fontw300: 300;
  --fontw200: 200;
  --fontw100: 100;
  --fonth3: clamp(1rem, 3vw, 1.3rem);

  --wrapperWidth: min(95%, 60rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #012a38;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
