@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #012a38;
  --foregroundgray: #012a38cc;
  --cardWidth: min(90%,25rem);
  --orange: #ee6c4d;
  --gray: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #012a38;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
