.imageContainer {
  /* min-height: 20rem; */
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
  align-items: flex-end;
  background-image: url("../../public/bgmain1.jpeg");
  background-position: center;
  .text {
    background-color: #00000033;
    backdrop-filter: blur(3px);
    padding: 0.5rem;
    border-radius: 0.25rem;
    outline: 3px solid #00000033;
    outline-offset: 0.25rem;
    color: white;
    font-weight: 400;
    font-size: clamp(0.6rem, 3vw, 1.2rem);
    margin-bottom: 2rem;
    width: fit-content;
    max-width: 100%;
    height: 100%;
  }
}

.info {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  & h3 {
    font-family: var(--fontRose), sans-serif;
    font-weight: 700;
  }
}

.cardsSection > h3 {
  font-family: var(--fontRose), sans-serif;
  font-weight: 700;
}

.consultantaContainer {
  border: 1px solid red;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 2rem;
}

.cardsTitle {
  font-family: var(--fontRose), sans-serif;
}
