.acteContainer {
  width: min(95%, 60rem);
}

.title {
  font-size: clamp(1.3rem, 3vw, 2rem);
}

.ul {
  list-style: circle;
  & li {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
    font-weight: 900;
    font-family: var(--fontRose);
  }
  & ul {
    margin-left: 1.5rem;
  }
  & ul > li {
    font-size: clamp(0.6rem, 2vw, 0.9rem);
    list-style: square;
    font-weight: 400;
    font-family: Poppins;
  }
}
.h3Category {
  font-size: clamp(1rem, 3vw, 1.3rem);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 1px;
  margin-bottom: 0.25rem;
}
