.layoutTopContainer {
  background-color: var(--foreground);
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: min(100%, 130rem);
  margin-inline: auto;
  & > .layoutNavigation {
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    /* comment / remove next 2 lines if you don`t want your navigation to be sticky */
    position: sticky;
    top: 0;
    z-index: 99999;
  }
  & > .layoutFooter {
    border-top: 1px solid #ffffff33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-weight: 400;
    letter-spacing: 2px;
  }
}
