.topContainer {
  width: min(95%, 60rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .tableContainer {
    width: 100%;
  }
  .table {
    color: var(--background);
    background-color: transparent;
    width: 100%;
    & thead tr th {
      font-size: clamp(0.6rem, 3vw, 1rem);
      font-weight: 400;
      color: var(--foreground);
      background-color: var(--background);
    }
    & td:not(.important,.notaSubsol) {
      font-size: clamp(0.6rem, 2vw, 0.9rem);
      border: 1px solid var(--background);
      padding-inline: 0.5rem;
    }

  & tr:nth-child(even) {
      background: var(--gray);
    }

    & tr:nth-child(odd) {
      background: var(--foreground);
    }

    & td:not(:first-child) {
      width: 30%;
    }
  }
}

.important{
  animation: fadeColor 1s ease-in-out alternate infinite;
}

@keyframes fadeColor {
  0%{
    color: var(--orange);
  }
  100%{
    color: transparent;
  }
}

