.tableContainer{
  /* border: 1px solid red; */
}

.container {
  width: min(95%, 60rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .table {
    color: var(--background);
    background-color: transparent;
    & thead tr th {
      font-size: clamp(0.6rem, 3vw, 1rem);
      font-weight: 400;
      /* border: 1px solid var(--foreground); */
      color: var(--foreground);
      background-color: var(--background);
    }
    & td {
      font-size: clamp(0.6rem, 2vw, 0.9rem);
      border: 1px solid var(--background);
      padding-inline: 0.2rem;
    }

    & tr:nth-child(even) {
      background: var(--gray);
    }

    & tr:nth-child(odd) {
      background: var(--foreground);
    }

    & td:not(:first-child) {
      width: 25%;
    }

    .notaSubsol {
      font-weight: 800;
      color: black;
      padding-block: 1rem;
    }
  }

  & h3 {
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-weight: 400;
    width: 100%;
    padding-block: 1rem;
  }
}
