.topContainer {
  width: min(95%, 60rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .tableContainer {
    width: 100%;
  }
  .table {
    color: var(--background);
    background-color: transparent;
    width: 100%;
    & thead tr th {
      font-size: clamp(0.6rem, 2vw, 0.9rem);
      background-color: var(--background);
      color: var(--foreground);
      font-family: var(--fontRose);
      font-weight: 400;
    }
    & td:not(.important, .notaSubsol) {
      font-size: clamp(0.6rem, 2vw, 0.75rem);
      border-bottom: 1px solid var(--background);
      border-left: 1px solid var(--background);
      padding-inline: 0.2rem;
    }

    & tr:nth-child(even) {
      background: var(--gray);
    }

    & tr:nth-child(odd) {
      background: var(--foreground);
    }

    & td:not(:first-child) {
      width: 30%;
    }
    .notaSubsol{
      font-size: clamp(0.8rem,2vw,1.1rem);
      font-weight: 400;
      font-family: var(--fontRose);
    }
  }

  .table tr td:first-child:not(.notaSubsol) {
    /* color: black; */
    font-weight: 400;
    
  }
}

.important {
  animation: fadeColor 1s ease-in-out alternate infinite;
  font-family: var(--fontRose);
}

@keyframes fadeColor {
  0% {
    color: var(--orange);
  }
  100% {
    color: transparent;
  }
}
